.cartitems-table {
    width: 100%;
    border-collapse: collapse; /* Combina as bordas das células */
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
 
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartitems-row {
    border-bottom: 1px solid  black; /* Adiciona uma borda inferior em cada linha */
    gap: 10px;
}

.cartitems-row td, .cartitems-row th {
    padding: 10px; /* Adiciona preenchimento interno nas células */
    text-align: center; /* Centraliza o conteúdo */
    gap: 10px ;
}

.carticon-product-icon {
    max-width: 50px; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.remove-icon {
    cursor: pointer; /* Muda o cursor ao passar sobre o ícone */
}

/* Adicione outras regras de estilo conforme necessário */

.cartitem-down{
    display: flex;
    margin: 100px 0px ;
}

.cartitems-total{
    flex:1;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap:40px;


}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;

}

.cartitems-total button {
    width: 262px;
    height: 70px;
    outline: none;
    border: none;
    background: #ff5a5a;
    border-radius: 15px;
   



}


.cartitems-promocode {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .cartitems-promobox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    width: 100%;
    max-width: 300px; /* Ajuste o valor conforme necessário */
    margin-bottom: 10px;
  }
  
  .submit {
    align-self: flex-end;
  }
  
  /* Estilos para tornar o layout responsivo */
  @media only screen and (min-width: 600px) {
    .cartitems-promobox {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .input-container {
      margin-bottom: 0;
    }
  }
  
  .cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 303px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px black;


  }
  .form-button-enviar button {
    padding: 10px;
    margin: 0 10px 10px 0; /* Adiciona margem à direita e abaixo de cada botão */
}



/* Estilo para o modal */
.modal {
  display: none; /* Ocultar por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Fechar botão */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
