
.hero{

    height: 100vh;
    background:  linear-gradient( 180deg  ,rgb(187, 91, 91), #e1ffea22 60% );
    display: flex;
}

.hero-left{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 180px;
    line-height: 1.1;

}

.hero-left h2 {
    
    color:#090909;
    font-size: 26px;
    font-weight: 600;

}

.hero-left p {

    color:black;
    font-size: 100px;
    font-weight:  700 ;

}