
.hero{

    height: 100vh;
    background:  linear-gradient( 180deg  ,rgb(187, 91, 91), rgb(221, 217, 217) );
    display: flex;
}

.hero-left{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 100px;
    line-height: 1.1;

}

.hero-left h2 {
    
    color: #fff;
    font-size: 26px;
    font-weight: 600;

}

.hero-left p {

    color:black;
    font-size: 100px;
    font-weight:  700 ;

}


.hero-hand-icon{

    display:contents;
    align-items: center;
    gap: 20px
}

.hero-hand-icon img{

    width:  85px ;

}

.hero-latest-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 40px;
    padding: 10px;
    border-radius: 75px;
    margin-bottom: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px ;
    font-weight: 500;
    cursor: pointer;

}

