.Item{

    width: 350px;

}

.item p {

    margin: 6px 0px ;
}

.item-prices{

    display: flex;
    gap: 20px

}

.item-prices{

    color:#374151;
    font-size: 18px;
    font-weight: 600;
}

.item-prices-old{

    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.Item:hover{
    
    transform: scale(1.05);
}