.item{

    width: 450px;

  
   color: white; 
   background-color: black;
   border-radius: 15px;
   padding: 30px;
  gap: 17px;
}

.item p {

    margin: 6px 0px ;
    padding: 10px;
   
    color: white;
}

.item img {

    border-radius: 15px;
}


.item-prices{

    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    
}

.item-price-old{

    color:red;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    margin-bottom: 15px;


}

.item-price-new{

    margin-top: 15PX;
}
.button-item{

    width: 100%;
    border-radius: 15px;
    background-color:   yellow; 
    color: black;
    margin-right: 50px;
}
