.item{

    width: 350px;
  
   color: rgb(0, 0, 0); 
   background-color: rgb(250, 242, 231);
   border-radius: 15px;
   padding: 30px;
  gap: 17px;
}

.item p {

    margin: 6px 0px ;
    padding: 10px;
   
    color: black;
}

.item img {

    border-radius: 15px;
}


.item-prices{

    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.item-prices-old{

    color:white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;

}

.Item:hover{
    
    transform: scale(1.05);
}

.button-item{

    width: 100%;
    border-radius: 15px;
    background-color:  white; 
    color: black;
}
