.navbar{

    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow:  white;
    background-color:   white;
    text-decoration: none;
   

}

.nav-logo{

    display:  flex;
    align-items:  center;
    gap: 10px;

}

.nav-menu{

    display: flex;
    align-items: center;
    list-style:none;
    gap: 50px ;
    background-color: #fff;
    color:   white;;
    font-size:  20px;
    font-weight: 500;
    text-emphasis: none;

}
Link{
    text-decoration: none;
}
.nav-menu li {

    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    gap: 3px; 
    cursor: pointer;
    color:   white;
    background-color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    border: solid 1px black;
    text-decoration: none;
}


.nav-login-cart{

    display: flex;
    align-items: center;
    gap: 45px;
    

}

.nav-login-cart button{

    width:157px;
    height: 58px;
    outline: none;
    border: 1px solid #7d7d7d;
    border-radius: 75px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: black;
    cursor: pointer;

}

.cart{

    background-color: white;
    padding: 10px;
    border-radius: 35px;
}
.nav-cart-count{

    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items:  center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #FF4141;
    color: white;
    
}

.User-icon{
    width: 50px;
    margin-right: 50px;
    margin-left: 20px;
}

.user-link {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
  }

.icon-on-line{

  
    width: 10px; /* Ajuste conforme necessário */
    height: 10px; /* Ajuste conforme necessário */
    background-color: green; /* Cor do ícone "online" */
    border-radius: 50%; /* Forma circular */
    margin-left: -45px; 

}


.User-Name{
 
     text-decoration: none;
     cursor: pointer;
     color:     white;
     margin-top: 20px;
      margin-left: 10px;
}

.logo{
    width: 180px;
}