.newcollections{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    margin: 100px;
  
    
}

.newcollections h1{

    color: rgb(251, 255, 9) ;
    font-size: 50px;
    font-weight: 600;

}

.newcollections hr  {

    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: rgb(251, 255, 9) ;
}
.collection {

    margin-top: 50px;
    display: flex;
    gap: 30px;

}