/* login.css */
.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
  }
  
  .loginsignup-container {
    width: 500px;
    padding: 80px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
  }
  
  .loginsignup-container h1 {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
  }
  
  .loginsignup-fields {
    margin-bottom: 20px;
  }
  
  .loginsignup-fields input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginsignup-fields input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .loginsignup-fields button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .loginsignup-fields button:hover {
    background-color: #0056b3;
  }
  
  .loginsignup-login {
    text-align: center;
  }
  
  .loginsignup-agree {
    margin-top: 10px;
  }
  
  .modal {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  