.shopycategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0 10%; /* Margens responsivas */
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort p span {
    font-weight: 600;
    color: black;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    color: white;
    background-color: black;
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

.shopcategory-sort:hover {
    background-color: #333; /* Mudança de cor no hover */
}

.shopcategory-products {
    margin: 20px 10%; /* Margens responsivas */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste responsivo */
    padding: 10px;
    gap: 30px; /* Espaçamento aumentado entre os cards */
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; /* Espaço reduzido */
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed88;
    color: #787878;
    cursor: pointer;
    border: solid 1px black;
    transition: background-color 0.3s, transform 0.3s; /* Efeito de transição */
}

.shopcategory-loadmore:hover {
    background: #d4d4d488; /* Mudança de cor no hover */
    transform: scale(1.05); /* Efeito de escala no hover */
}

/* Media Queries para Responsividade */
@media screen and (max-width: 1024px) {
    .shopcategory-indexSort {
        margin: 0 5%; /* Margens reduzidas em telas médias */
    }

    .shopcategory-loadmore {
        width: 70%; /* Aumenta a largura do botão em telas menores */
    }
}

@media screen and (max-width: 600px) {
    .shopcategory-products {
        grid-template-columns: 1fr; /* Um item por linha em telas pequenas */
        gap: 20px; /* Espaçamento em telas pequenas */
    }

    .shopcategory-indexSort {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: flex-start; /* Alinha à esquerda */
    }
}
