.shopycategory-banner {
    display: block;
    margin: 50px auto;
    width: 80%; /* Ajuste da largura para maior responsividade */
}

.shopcategory-indexSort {
    display: flex;
    margin: 0 5%; /* Margens ajustadas para maior responsividade */
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* Adicionado gap para espaçamento entre os elementos */
}

.shopcategory-indexSort p span {
    font-weight: 600;
    color: black;
}

.shopcategory-sort {
    padding: 12px 24px;
    border-radius: 40px;
    border: 1px solid #888;
    color: white;
    background-color: black;
    transition: background-color 0.3s ease; /* Transição suave */
}

.shopcategory-sort:hover {
    background-color: #333; /* Mudança de cor ao passar o mouse */
}

.shopcategory-products {
    margin: 20px 5%; /* Margens responsivas */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid responsivo */
    padding: 10px;
    gap: 30px; /* Espaçamento maior entre os cards */
}

.shopcategory-products img {
    max-width: 100%; /* Faz com que as imagens se ajustem à largura do card */
    height: auto; /* Mantém a proporção */
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed88;
    color: #787878;
    cursor: pointer;
    border: solid 1px black;
    transition: background-color 0.3s, transform 0.3s; /* Efeito suave no hover */
}

.shopcategory-loadmore:hover {
    background: #d4d4d488; /* Efeito de cor ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala no hover */
}

/* Responsividade para telas médias */
@media screen and (max-width: 1024px) {
    .shopcategory-indexSort {
        margin: 0 5%; /* Ajuste de margens */
    }

    .shopcategory-loadmore {
        width: 80%; /* Botão de "Load More" maior */
    }

    .shopcategory-products {
        gap: 25px; /* Ajustando o espaço entre os itens */
    }
}

/* Responsividade para telas pequenas (celulares) */
@media screen and (max-width: 600px) {
    .shopcategory-products {
        grid-template-columns: 1fr; /* Um item por linha */
        gap: 20px; /* Espaçamento ajustado */
    }

    .shopcategory-indexSort {
        flex-direction: column; /* Itens em coluna */
        align-items: flex-start; /* Alinhamento à esquerda */
        gap: 15px; /* Adicionado espaço entre os elementos */
    }

    .shopcategory-loadmore {
        width: 90%; /* Botão de "Load More" maior para celulares */
    }
}
