.Offers{

    height: 100vh;
   
    display: flex;
    margin: 100px;
    margin-bottom: 100px;
   
}
.Offers-left{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.Offers-left h1 {
    
    color: #ffffff ;
    font-size:80px;
    font-weight: 600;

}

.carabina{
    width: 900px;
    height: 600px;
    margin-right: 100px;
    margin-top: 240px;
}

.Offers-left p {

    color:   yellow;
    font-size: 22px;
    font-weight: 600;

}

.Offers-left button {

    width: 282px;
    height: 70px;
    border-radius: 35px ;
    background:  yellow;
    color:  black;
    cursor:  pointer;
    margin: 50px;
    border: none;
    font-size:  22px ;
    font-weight: 500;
    margin-top: 30px ;

}

.Offers-right{

 flex: 1;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-top: 50px;



}
