.productdisplay {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(250, 242, 231);
    
   
  }

  .title-displayproduto {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font: 300;

  }
  
  .productdisplay-left,
  .productdisplay-right {
    width: 50%;
    padding: 30px;
    margin-bottom: 20px;
  }
  
  .productdisplay-left {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.048);
    width: 200px;
    height: 500px;
    border-radius: 35px;
  }
  
  .productdisplay-img-list {
    display: flex;
    overflow-x: auto;
  }
  
  .productdisplay-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .productdisplay-main-img {
    max-width: 50%;
    height: auto;
  }
  
  .productdisplay-right-star img {
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-left: 5px;
  

  }
  img{

    border-radius: 35px;
   
  }
  
  .productdisplay-right-star p {
    margin-left: 5px;
  }
  
  .productdisplay-right-prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.048); 
    color: black;
    border-radius: 15px;
   


  }
  
  .productdisplay-right-description {
    margin-bottom: 20px;
  }
  
  .productdisplay-right-size {
    display: flex;
    margin-bottom: 20px;
  }
  
  .productdisplay-right-size div {
    margin-right: 10px;
  }
  
  .productdisplay-right-category {
    margin-bottom: 20px;
  }
  
  /* Adicione media queries para estilos responsivos */
  @media screen and (min-width: 768px) {
    .productdisplay {
      flex-direction: row;
    }
  
    .productdisplay-left,
    .productdisplay-right {
      width: 50%;
    }
  
    .productdisplay-img-list {
      flex-direction: column;
      overflow-x: visible;
    }
  
    .productdisplay-img {
      margin-bottom: 0;
    }
  }
  
  .carticon{

     background-color: white;
    
     padding: 5px;
     width: 25px;
     height: 25px;
      }

      .buttondisplay{
        background-color: white;
        color: black;
        justify-content: center;
        align-items: center;
        padding: 10px;
        display: flex;
        margin-right: 15px;
        border-radius: 15px;
        
      }